body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: Calibri, sans-serif, b;
    background-image: url('imagens/Design sem nome.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    color: orange;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: transparent;''
    border-radius: 5px;

}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background-color: beige;
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 4px 4px 0 darkorange;
    color: black;
}

button:hover {
    background-color: darksalmon;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem; /* Aumenta o tamanho do título em dispositivos móveis */
    }

    button {
        height: 70px; /* Aumenta a altura dos botões */
        font-size: 3rem; /* Aumenta o tamanho do texto nos botões */
        padding: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .container {
        padding: 100px; /* Adiciona mais espaço interno ao container */
        border-radius: 15px; /* Aumenta o arredondamento das bordas */
    }
}
